################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL - CG/v15/ipch/AutoPCH/2d1d349a68504c37/TEXTURE2D.ipch
/.vs/OpenGL - CG/v15/ipch/AutoPCH/5b227c38f8e1cc77/CAMERA.ipch
/.vs/OpenGL - CG/v15/ipch/AutoPCH/e96aa4623020937b/SHADERPROGRAM.ipch
/.vs/OpenGL - CG/v15/Browse.VC.opendb
/.vs/OpenGL - CG/v15/ipch/AutoPCH/5eecf1c7049b37ed/MESH.ipch
/.vs/OpenGL - CG/v15/ipch/AutoPCH/f1d0473c2a5300f5/MAIN.ipch
/OpenGL - CG.exe
/OpenGL - CG.ilk
/OpenGL - CG.pdb
