################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL - CG/v15/ipch/AutoPCH/2d1d349a68504c37/TEXTURE2D.ipch
